backup/ANALYSIS/{run}/BAM/{mergedSamples}.bam
backup/ANALYSIS/{run}/BAM/{mergedSamples}.bam.bai
backup/ANALYSIS/{mergedSamples}/CNV/{mergedSamples}_cnv_plot.pdf
backup/ANALYSIS/{mergedSamples}/METHYLATION/{mergedSamples}.methylation_calls_frequency.tsv
