{injection}/FASTQ/{injection}.fastq.gz
{injection}/Mapping/{injection}.bam
{injection}/Mapping/{injection}.bam.bai
{injection}/Methylation/{injection}.methylation_calls.tsv
{injection}/QC/Mosdepth/OnTarget/{injection}_ontarget.mosdepth.summary.txt
{injection}/QC/Mosdepth/OffTarget/{injection}_offtarget.mosdepth.summary.txt
{injection}/QC/COV/{injection}_ontarget.txt
{injection}/QC/COV/{injection}_offtarget.txt
{injection}/QC/{injection}_qc_ontarget.tsv
{injection}/QC/{injection}_qc_offtarget.tsv
All/Mapping/{run}.bam
All/Mapping/{run}.bam.bai
All/Methylation/{run}.methylation_calls.tsv
All/QC/Mosdepth/OnTarget/{run}_run_ontarget.mosdepth.summary.txt
All/QC/Mosdepth/OffTarget/{run}_run_offtarget.mosdepth.summary.txt
All/QC/COV/{run}_run_ontarget.txt
All/QC/COV/{run}_run_offtarget.txt
All/QC/{run}_offTarget.bed
All/QC/{run}_run_qc_ontarget.tsv
All/QC/{run}_run_qc_offtarget.tsv
All/QC/{run}_qc_ontarget.tsv
All/QC/{run}_qc_offtarget.tsv
All/SV/cuteSV/{run}.cuteSV.vcf
All/SV/Nanovar/{run}.nanovar.pass.vcf
All/SV/sniffles/{run}.sniffles.vcf
All/SV/SVIM/{run}.svim.vcf
All/SV/{run}.annotSV.tsv
All/SNV/{run}.clair3.vcf.gz
All/SNV/{run}.nanocaller.vcf.gz
All/SNV/{run}.pepper.vcf.gz
All/SNV/{run}.vcf.gz
All/SNV/{run}_annot.vcf
All/CNV/{run}_cnv_plot.pdf
All/CNV/{run}_readlength.pdf
All/CNV/{run}_amp_plot.pdf
All/CNV/{run}_gc.pdf
All/CNV/{run}_cnv_plot_segments.txt
All/CNV/{run}_readlength_summary.txt
All/Circos/circos.txt