FOLDER/ADAPTIVE_00/All/Methylation/ADAPTIVE_00.methylation_calls.tsv
FOLDER/ADAPTIVE_00/All/SV/Nanovar/ADAPTIVE_00.nanovar.total.vcf
FOLDER/ADAPTIVE_00/All/SV/Nanovar/ADAPTIVE_00.nanovar.pass.vcf
FOLDER/ADAPTIVE_00/All/SV/ADAPTIVE_00.annotSV.tsv
FOLDER/ADAPTIVE_00/All/SV/cuteSV/ADAPTIVE_00.cuteSV.vcf
FOLDER/ADAPTIVE_00/All/SV/sniffles/ADAPTIVE_00.sniffles.vcf
FOLDER/ADAPTIVE_00/All/SV/ADAPTIVE_00.merged.annotated.tsv
FOLDER/ADAPTIVE_00/All/SV/SVIM/variants.vcf
FOLDER/ADAPTIVE_00/All/SV/SVIM/ADAPTIVE_00.svim.vcf
FOLDER/ADAPTIVE_00/All/SV/ADAPTIVE_00.merged.vcf
FOLDER/ADAPTIVE_00/All/Circos/ADAPTIVE_00_MAPK1.csv
FOLDER/ADAPTIVE_00/All/Circos/circos.txt
FOLDER/ADAPTIVE_00/All/Circos/ADAPTIVE_00_BRAD1.csv
FOLDER/ADAPTIVE_00/All/Mapping/ADAPTIVE_00.bam
FOLDER/ADAPTIVE_00/All/CNV/ADAPTIVE_00_cnv_plot.pdf
FOLDER/ADAPTIVE_00/All/CNV/ADAPTIVE_00_readlength.pdf
FOLDER/ADAPTIVE_00/All/CNV/ADAPTIVE_00_readlength_summary.txt
FOLDER/ADAPTIVE_00/All/CNV/ADAPTIVE_00_gc.pdf
FOLDER/ADAPTIVE_00/All/CNV/ADAPTIVE_00_cnv_plot_segments.txt
FOLDER/ADAPTIVE_00/All/CNV/ADAPTIVE_00_amp_plot.pdf
FOLDER/ADAPTIVE_00/All/QC/ADAPTIVE_00_offTarget.bed
FOLDER/ADAPTIVE_00/All/QC/ADAPTIVE_00_qc_ontarget.tsv
FOLDER/ADAPTIVE_00/All/QC/ADAPTIVE_00_qc_offtarget.tsv
FOLDER/ADAPTIVE_00/All/SNV/ADAPTIVE_00.nanocaller.vcf.gz
FOLDER/ADAPTIVE_00/All/SNV/ADAPTIVE_00.pepper.vcf.gz
FOLDER/ADAPTIVE_00/All/SNV/ADAPTIVE_00.clair3.vcf.gz
FOLDER/ADAPTIVE_00/All/SNV/ADAPTIVE_00.vcf.gz
FOLDER/ADAPTIVE_00/All/SNV/ADAPTIVE_00_annot.vcf
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/FASTQ/ADAPTIVE_00_3.fastq.gz
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/Methylation/ADAPTIVE_00_3.methylation_calls.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/Mapping/ADAPTIVE_00_3.bam
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/ADAPTIVE_00_3_qc_offtarget.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/ADAPTIVE_00_3_qc_ontarget.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/Mosdepth/OnTarget/ADAPTIVE_00_3_ontarget.mosdepth.global.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/Mosdepth/OnTarget/ADAPTIVE_00_3_ontarget.mosdepth.region.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/Mosdepth/OnTarget/ADAPTIVE_00_3_ontarget.mosdepth.summary.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/Mosdepth/OffTarget/ADAPTIVE_00_3_offtarget.mosdepth.global.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/Mosdepth/OffTarget/ADAPTIVE_00_3_offtarget.mosdepth.region.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/Mosdepth/OffTarget/ADAPTIVE_00_3_offtarget.mosdepth.summary.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/COV/ADAPTIVE_00_3_ontarget.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_3/QC/COV/ADAPTIVE_00_3_offtarget.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/FASTQ/ADAPTIVE_00_2.fastq.gz
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/Methylation/ADAPTIVE_00_2.methylation_calls.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/Mapping/ADAPTIVE_00_2.bam
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/ADAPTIVE_00_2_qc_offtarget.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/Mosdepth/OnTarget/ADAPTIVE_00_2_ontarget.mosdepth.region.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/Mosdepth/OnTarget/ADAPTIVE_00_2_ontarget.mosdepth.global.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/Mosdepth/OnTarget/ADAPTIVE_00_2_ontarget.mosdepth.summary.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/Mosdepth/OffTarget/ADAPTIVE_00_2_offtarget.mosdepth.region.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/Mosdepth/OffTarget/ADAPTIVE_00_2_offtarget.mosdepth.summary.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/Mosdepth/OffTarget/ADAPTIVE_00_2_offtarget.mosdepth.global.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/ADAPTIVE_00_2_qc_ontarget.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/COV/ADAPTIVE_00_2_offtarget.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_2/QC/COV/ADAPTIVE_00_2_ontarget.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/FASTQ/ADAPTIVE_00_1.fastq.gz
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/Methylation/ADAPTIVE_00_1.methylation_calls.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/Mapping/ADAPTIVE_00_1.bam
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/ADAPTIVE_00_1_qc_ontarget.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/ADAPTIVE_00_1_qc_offtarget.tsv
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/Mosdepth/OnTarget/ADAPTIVE_00_1_ontarget.mosdepth.global.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/Mosdepth/OnTarget/ADAPTIVE_00_1_ontarget.mosdepth.summary.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/Mosdepth/OnTarget/ADAPTIVE_00_1_ontarget.mosdepth.region.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/Mosdepth/OffTarget/ADAPTIVE_00_1_offtarget.mosdepth.region.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/Mosdepth/OffTarget/ADAPTIVE_00_1_offtarget.mosdepth.global.dist.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/Mosdepth/OffTarget/ADAPTIVE_00_1_offtarget.mosdepth.summary.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/COV/ADAPTIVE_00_1_ontarget.txt
FOLDER/ADAPTIVE_00/ADAPTIVE_00_1/QC/COV/ADAPTIVE_00_1_offtarget.txt
